/* Add mobile styles for the component here.  */
.grid
{
    width: 90%;
    height: 80%;
}

.x
{
    background-color: #175592;
    border-radius: 100%;
    color: white;
}

.x:pressed
{
    background-color: #1C2755;
}

.flex
{
    background-color: #f9f9f9;
    border-radius: 20%;
    margin-left: 10;
    margin-right: 15;
    margin-top: 10;
}

.card-view
{
    background: #FFFFFF;
    /* box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 30%;
    margin: 20;
    width: 80%;
    padding: 1;
}

.textfield
{
    text-align: center;
    placeholder-color: #606060;
    border-color: transparent;
    border-width: 1;
    width: 100%;
}

.zarej
{
    background-color: #1C2755;
    color: white;
    border-radius: 30%;
    margin: 20;
    font-size: 20;
}

.zarej-btn
{
    background: #1C2755;
    border-width: 0;
    border-radius: 2;
    border-color: #1C2755;
    color: white;
    font-size: 20;
    width: 100%;
    height: 100%;
}

.zarej-btn:pressed
{
    background: rgb(15, 22, 46);
}
